<!-- -->
<launch>


<node pkg="rosbag" type="record" name="record_1" args=
	"/tf 
	/imu/data 
	/odom 
	/cmd_vel 
	/scan360 
	/people/navigation
	/wsbs/markers/scan 
	/wsbs/status 
	/wsbs/controller/info
	/wsbs/markers/robot_forces 
	/wsbs/markers/trajectories 
	/wsbs/markers/target_path 
	/wsbs/markers/local_goal 
	/wsbs/markers/target
	/depthcamscan_node/scanXtion
	/wsbs/markers/belief
	/wsbs/planner/target
	/wsbs/markers/predicted_target
	/wsbs/markers/goals
	-o /home/teresa/data/wsbs.bag" />
  
</launch>
