<!-- -*- mode: XML -*- -->

<launch>
	
	<node pkg="teresa_wsbs" type="wsbs_controller" name="wsbs_controller" output="screen" respawn="false">
		<!--<param name="xtion_id" value="/depthcamscan_node/scanXtion"/>-->
		<param name="xtion_id" value=""/>
		<!--<param name="path_file" value="$(find teresa_wsbs)scenarios/uva.xml"/>-->
		<param name="path_file" value="$(find teresa_wsbs)scenarios/uva_demo.xml"/>
		<param name="heuristic_controller" value="false"/>
		<param name="use_estimated_target" value="true"/>
	</node>


    

</launch>
