<!-- -*- mode: XML -*- -->

<launch>
	<master auto="start"/>

	<node pkg="teresa_wsbs" type="wsbs_controller" name="wsbs_controller" output="screen" respawn="false">
	<param name="xtion_id" value="/depthcamscan_node/scanXtion"/>
	<!--<param name="xtion_id" value = ""/>-->
	</node>


    

</launch>
