<!-- -*- mode: XML -*- -->

<launch>
	
	<node pkg="teresa_wsbs" type="wsbs_controller" name="wsbs_controller" output="screen" respawn="false">
		<param name="xtion_id" value="/depthcamscan_node/scanXtion"/>
		<param name="use_leds" value="false"/>
                <param name="heuristic_planner" value="false"/>
	</node>


    

</launch>
